.cardsContainer {
  flex: 1;
  padding: 50px 0;
  margin-left: 50%;
  margin-right: 10%;
}

.card {
  margin: 20px 0;
  box-shadow: var(--card-shadow);
  border-radius: 15px;
  padding: 30px 40px;
  text-align: left;
  max-width: 850px;
  background-color: #12121267;
}

.card p:nth-child(1) {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 15px;
}

@media (max-width: 900px) {
  .cardsContainer {
    margin: 0;
  }
}
