.App {
  text-align: center;
  
}
body {
  background-attachment: fixed;
  background-color:hsla(0,0%,9%,1);
background-image:
radial-gradient(at 100% 0%, hsla(69,39%,28%,1) 0px, transparent 10%),
radial-gradient(at 45% 100%, hsla(60,22%,13%,1) 0px, transparent 10%);
background-size: cover;
}

.card {

}
.section {
  display: flex;
}

.content {
  color: var(--color-font);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 900px) {
  .App {
    padding: 0 20px;
  }
  .section {
    flex-direction: column;
  }
}
