.App {
  text-align: center;
}

.section {
  display: flex;
}

.content {
  color: var(--color-font);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
