.App {
  text-align: center;
  
}
body {
  background-attachment: fixed;
  background-color:hsla(311,0%,5%,1);
background-image:
radial-gradient(at 100% 0%, hsla(64,30%,18%,1) 0px, transparent 20%),
radial-gradient(at 38% 80%, hsla(60,31%,5%,1) 0px, transparent 50%);
background-size: cover;
}

.card {

}
.section {
  display: flex;
}

.content {
  color: var(--color-font);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 900px) {
  .App {
    padding: 0 20px;
  }
  .section {
    flex-direction: column;
  }
}
